<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>LogIn_Inventario</title>
</head><script src="https://kit.fontawesome.com/42a3b7e233.js" crossorigin="anonymous"></script>

<body>
    <div>
        <form class="formulario">

            <h1>Iniciar Sesion</h1>
            <p>Ingresar Usuario y Contraseña para poder acceder al inventario de Coffee Spot:
            <div class="contenedor">
            
            <div class="input-contenedor">
                <i class="fa-solid fa-user icon"></i>
                <input type="text" placeholder="Correo Electronico">
            </div>

            <div class="input-contenedor">
                <i class="fa-solid fa-key icon"></i>
                <input type="password" placeholder="Contraseña">
            </div>

            <input type="submit" value="Ingresar" class="button">
            <p>Si tienes algun problema al ingresar, por favor contactar en brevedad al encargado del inventario.</p>

            </div>
        </form>
        <a href="home.html " class="boton">Ir a la pagina web</a>
    </div>

    <style>
        body{
            background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
            url("/static/images/coffeespot.jpg") no-repeat center
            center fixed;
            background-size: cover;
        }
    </style>

</body>
 
</html>